<!-- HEADER -->
<nav-primary></nav-primary>

<!-- CONTENT -->
	<main>
		<!-- carousel -->
		<section class="carousel">
		  	<!-- carousel vertical bar -->
			<div class="carousel-vertical-bar-container">
				<div class="carousel-vertical-bar-item">
					<p>
						¿Queres Vender en Jiuvii?
					</p>
					<a href="learn-more.html" class="btn btn-small btn-primary-invert btn-block">
						Ingresa
					</a>
				</div>
				<div class="carousel-vertical-bar-item">
					<p>
						El Nuevo Marketplace Organico &amp; Natural
					</p>
					<a href="about.html" class="color-white small">
						Conoce mas
					</a>
				</div>
				<div class="carousel-vertical-bar-item new">
					<p>
						NUEVO!
					</p>
					<a href="product.html">
						<figure class="image-loader-container" style="background-image:url('assets/images/products/product-01.jpg'); min-height: 130px">
							<img src="assets/images/products/product-01.jpg" style="visibility: hidden; max-height:130px;"  alt="NUEVO">
						</figure>
					</a>
				</div>
			</div>

		  	<div id="home-carousel" class="owl-carousel owl-theme">
				<div class="item">
					<!-- product -->
					<div class="home-carousel-products-container">
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-03.jpg');">
									<img src="assets/images/products/product-03.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Vegan Yogurt Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-02.jpg');">
									<img src="assets/images/products/product-02.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
					</div>
					<!-- bg -->
					<figure class="image-loader-container banner-carousel-loader-container" style="background-image:url('assets/images/home/home-banner-01.jpg')">
						<img src="assets/images/home/home-banner-01.jpg" style="visibility: hidden">
					</figure>
				</div>
				<div class="item">
					<!-- product -->
					<div class="home-carousel-products-container">
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-03.jpg');">
									<img src="assets/images/products/product-03.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Vegan Yogurt Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-02.jpg');">
									<img src="assets/images/products/product-02.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
					</div>
					<!-- bg -->
					<figure class="image-loader-container banner-carousel-loader-container" style="background-image:url('assets/images/home/home-banner-02.jpg')">
						<img src="assets/images/home/home-banner-02.jpg" style="visibility: hidden">
					</figure>
				</div>
				<div class="item">
					<!-- product -->
					<div class="home-carousel-products-container">
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-01.jpg');">
									<img src="assets/images/products/product-01.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Vegan Yogurt Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-02.jpg');">
									<img src="assets/images/products/product-02.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
					</div>
					<!-- bg -->
					<figure class="image-loader-container banner-carousel-loader-container" style="background-image:url('assets/images/home/home-banner-02.jpg')">
						<img src="assets/images/home/home-banner-02.jpg" style="visibility: hidden">
					</figure>
				</div>
				<div class="item">
					<!-- product -->
					<div class="home-carousel-products-container">
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-03.jpg');">
									<img src="assets/images/products/product-03.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Vegan Yogurt Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-02.jpg');">
									<img src="assets/images/products/product-02.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
					</div>
					<!-- bg -->
					<figure class="image-loader-container banner-carousel-loader-container" style="background-image:url('assets/images/home/home-banner-01.jpg')">
						<img src="assets/images/home/home-banner-01.jpg" style="visibility: hidden">
					</figure>
				</div>
				<div class="item">
					<!-- product -->
					<div class="home-carousel-products-container">
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-03.jpg');">
									<img src="assets/images/products/product-03.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
						<div class="home-carousel-product-content">
							<a href="product.html">
								<div class="home-carousel-product-hover">
									<div class="info text-two-lines">
										Vegan Yogurt Life Food Vegan Yogurt! 
									</div>
								</div>
								<figure class="image-loader-container image-loader-carousel" style="background-image:url('assets/images/products/product-02.jpg');">
									<img src="assets/images/products/product-02.jpg" style="visibility: hidden;">
								</figure>
							</a>
						</div>
					</div>
					<!-- bg -->
					<figure class="image-loader-container banner-carousel-loader-container" style="background-image:url('assets/images/home/home-banner-02.jpg')">
						<img src="assets/images/home/home-banner-02.jpg" style="visibility: hidden">
					</figure>
				</div>
			</div>

			<!-- carousel nav -->
			<div class="carousel-nav">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-lg-4">
							<div class="carousel-nav-section">
								<div class="carousel-nutrition">
									<div class="carousel-nav-title">
										Ver
									</div>
									<div>
										<a class="active" href="results.html" alt="Kosher">
											Kosher
										</a> 
									</div>
									<div>
										<a href="results.html" alt="sin TACC">
											sin TACC
										</a> 
									</div>
									<div>
										<a href="results.html" alt="Orgánico">
											Orgánico
										</a> 
									</div>
									<div>
										<a href="results.html" alt="Vegano">
											Vegano
										</a> 
									</div>
									<div>
										<a href="results.html" alt="Vegetariano">
											Vegetariano
										</a> 
									</div>
									<div>
										<a href="results.html" alt="Natural">
											Natural
										</a> 
									</div>
									<div class="dropdown">
									  	<a class="dropdown-toggle" id="dropdownMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									    	Mas
									    	<span class="caret"></span>
									  	</a>
									  	<ul class="dropdown-menu" aria-labelledby="dropdownMore">
										    <li>
												<a href="results.html" alt="Kosher">
													Kosher
												</a> 
										    </li>
										    <li>
												<a href="results.html" alt="sin TACC">
													sin TACC
												</a> 
										    </li>
										    <li>
												<a href="results.html" alt="Orgánico">
													Orgánico
												</a> 
										    </li>
										    <li>
												<a href="results.html" alt="Vegano">
													Vegano
												</a> 
										    </li>
										    <li>
												<a href="results.html" alt="Vegetariano">
													Vegetariano
												</a> 
										    </li>
										    <li>
												<a href="results.html" alt="Natural">
													Natural
												</a> 
										    </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-lg-4 text-center">
							<div class="carousel-nav-section">
								<div class="carousel-actions">
									<div class="carousel-nav-title">
										Quiero
									</div>
									<div>
										<a href="open.html">
											Vender
										</a> 
									</div>
									<div>
										<a href="login.html">
											Comprar
										</a> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-5 col-lg-4 text-right">
							<div class="carousel-nav-section">
								<div class="carousel-social">
									<div class="carousel-nav-title">
										Seguinos
									</div>
									<div>
										<a href="product.html">
											Instagram
										</a> 
									</div>
									<div>
										<a href="product.html">
											Facebook
										</a> 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- covers -->
		<section class="container home-container">
			<div class="row">
				<div class="col-xs-12">
					<div class="row cover-thumbs-container">
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-02.jpg')">
											<img src="assets/images/home/home-02.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="store.html">
										<div class="uppercase bold text-ellipsis title">
											Nuevo Articulo
											<span class="color-text">Nombre tienda</span>
										</div>
									</a>
									<a href="product.html">
										<div class="text-ellipsis color-black">
											<span>
												Nombre de articulo
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
								<!-- img container -->
									<div class="cover-thumb-image-container">
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-01.jpg')">
											<img src="assets/images/home/home-01.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="#">
										<div class="uppercase bold text-ellipsis title">
											#Frutillas 
											<span class="color-text">se escribe desde el admin</span>
										</div>
									</a>
									<a href="#">
										<div class="text-ellipsis color-black">
											<span>
												texto que se escribe desde el admin
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-03.jpg')">
											<img src="assets/images/home/home-03.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="store.html">
										<div class="uppercase bold text-ellipsis title">
											Nueva Tienda!
											<span class="color-text">Nombre tienda</span>
										</div>
									</a>
									<a href="results-category.html">
										<div class="text-ellipsis color-black">
											<span>
												categoria
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- jiuvii thumb -->
						<article class="cover-thumb-card">
							<a href="product.html">
								<div class="cover-thumb">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-jiuvii-loader-container" style="background-image:url('assets/images/home/home-jiuvii-01.jpg')">
											<img src="assets/images/home/home-jiuvii-01.jpg" style="visibility: hidden">
										</div>
									</div>
								</div>
							</a>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-04.jpg')">
											<img src="assets/images/home/home-04.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="#">
										<div class="uppercase bold text-ellipsis title">
											#Lechugas
											<span class="color-text">Admin</span>
										</div>
									</a>
									<a href="#">
										<div class="text-ellipsis color-black">
											<span>
												Admin
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-05.jpg')">
											<img src="assets/images/home/home-05.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="results.html">
										<div class="uppercase bold text-ellipsis title">
											Ofertas
											<span class="color-text">10% OFF</span>
										</div>
									</a>
									<a href="product.html">
										<div class="text-ellipsis color-black">
											<span>
												Nombre de articulo
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-06.jpg')">
											<img src="assets/images/home/home-06.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="store.html">
										<div class="uppercase bold text-ellipsis title">
											Frutas y Verduras
											<span class="color-text">Nombre de tienda</span>
										</div>
									</a>
									<a href="product.html">
										<div class="text-ellipsis color-black">
											<span>
												Nombre de articulo
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-07.jpg')">
											<img src="assets/images/home/home-07.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="#">
										<div class="uppercase bold text-ellipsis title">
											cybermonday
											<span class="color-text">Admin</span>
										</div>
									</a>
									<a href="#">
										<div class="text-ellipsis color-black">
											<span>
												Admin
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- jiuvii thumb -->
						<article class="cover-thumb-card">
							<a href="product.html">
								<div class="cover-thumb">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-jiuvii-loader-container" style="background-image:url('assets/images/home/home-jiuvii-02.jpg')">
											<img src="assets/images/home/home-jiuvii-02.jpg" style="visibility: hidden">
										</div>
									</div>
								</div>
							</a>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-08.jpg')">
											<img src="assets/images/home/home-08.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="#">
										<div class="uppercase bold text-ellipsis title">
											#Dulce 
											<span class="color-text">admin</span>
										</div>
									</a>
									<a href="#">
										<div class="text-ellipsis color-black">
											<span>
												admin
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-09.jpg')">
											<img src="assets/images/home/home-09.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="store.html">
										<div class="uppercase bold text-ellipsis title">
											Panificados!
											<span class="color-text">Nombre de tienda</span>
										</div>
									</a>
									<a href="product.html">
										<div class="text-ellipsis color-black">
											<span>
												Nombre de articulo
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
						<!-- cover thumb -->
						<article class="cover-thumb-card">
							<div class="cover-thumb">
								<a href="product.html">
									<!-- img container -->
									<div class="cover-thumb-image-container">
										<!-- img -->
										<div class="image-loader-container cover-thumb-loader-container" style="background-image:url('assets/images/home/home-010.jpg')">
											<img src="assets/images/home/home-010.jpg" style="visibility: hidden">
										</div>
									</div>
								</a>
								<!-- info -->
								<div class="cover-thumb-image-info">
									<a href="#">
										<div class="uppercase bold text-ellipsis title">
											Sin TACC
											<span class="color-text">Admin</span>
										</div>
									</a>
									<a href="#">
										<div class="text-ellipsis color-black">
											<span>
												Admin
											</span>
										</div>
									</a>
								</div>
							</div>
						</article>
					</div>	
				</div>
			</div>

			<!-- load -->
			<div class="load-more">
				<div class="row">
					<div class="col-xs-12 text-center">
						 <a class="btn btn-primary-invert btn-lg" href="#">
			                Ver más
			            </a>
					</div>
		        </div>
		    </div>
		</section>

		<!-- subscribe -->
		<section class="container subscribe-container">
            <!-- form -->
            <div class="subscribe-text">
                <div class="subscribe-title text-center">
                    <h2>
                        Suscribite a Jiuvii 
                        <br>
                        y enterate de todas las novedades!
                    </h2>
                </div>

                <!-- form -->
                <div class="container-subscribers">
                    <form id="form-subscribers" class="form-horizontal" role="form" method="POST">
                        <div class="input-group">
                            <input id="email_subscriber" name="email_subscriber" class="form-control input-lg" placeholder="Ingresá aquí tu correo electrónico" data-validation-engine="validate[required,custom[email]]" data-errormessage-value-missing="Ingresá un email" data-errormessage="Ingresá un email válido" type="text">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary uppercase">
                                    Suscribite
                                </button>
                            </span>
                        </div>
                    </form>
                </div>

                <!-- social icons -->
                <div class="social text-center">
                    <a target="_blank" href="https://www.facebook.com/JetziApp">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-facebook fa-stack-1x icon" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a target="_blank" href="https://twitter.com/jetzi_ar">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-twitter fa-stack-1x icon" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a target="_blank" href="http://instagram.com/jetzi_ar">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-instagram fa-stack-1x icon" aria-hidden="true"></i>
                        </span>
                    </a>
                    <a target="_blank" href="https://www.pinterest.com/jetziapp">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fa fa-pinterest-square fa-stack-1x icon" aria-hidden="true"></i>
                        </span>
                    </a>
                </div>
            </div>
            <!-- bk -->
            <div class="subscribe-bk">
            	<div class="row">
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-01.jpg')">
								<img src="assets/images/home/home-01.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-02.jpg')">
								<img src="assets/images/home/home-02.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-03.jpg')">
								<img src="assets/images/home/home-03.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-04.jpg')">
								<img src="assets/images/home/home-04.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-05.jpg')">
								<img src="assets/images/home/home-05.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
            				<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-06.jpg')">
								<img src="assets/images/home/home-06.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-07.jpg')">
								<img src="assets/images/home/home-07.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
            				<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-09.jpg')">
								<img src="assets/images/home/home-09.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-010.jpg')">
								<img src="assets/images/home/home-010.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-011.jpg')">
								<img src="assets/images/home/home-011.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-012.jpg')">
								<img src="assets/images/home/home-012.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            		<div class="col-xs-2 subscribe-bk-img">
            			<a href="product.html">
                			<!-- img -->
							<div class="image-loader-container image-loader-subscribe" style="background-image:url('assets/images/home/home-013.jpg')">
								<img src="assets/images/home/home-013.jpg" style="visibility: hidden">
							</div>
						</a>
            		</div>
            	</div>
            </div>
		</section>
		
		<!-- footer categories -->
		<section class="container footer-categories uppercase" id="footer-categories">
			    <a href="results-category.html">
			        <h3 class="text-center">
			            <span class="bold">Descubrí</span>
			            <br>
			            más categorías
			            <br>
			            <i class="fa fa-angle-double-down" aria-hidden="true"></i>
			        </h3>
			    </a>
			    <div class="footer-categories-container">
			    	<div class="row">
			        	<!-- footer category -->
			        	<div class="col-xs-2 footer-category">
				            <div class="">
		                        <a href="results-category.html">
		                            <div style="background-image:url('assets/images/products/category/category-fruit.jpg')" class="image-loader-container">
		                                <img style="visibility: hidden" src="assets/images/products/category/category-fruit.jpg">
		                            </div>
				                    <div class="text-ellipsis text-center footer-category-title">
										Frutas, Papas y Verduras
					                </div>
								</a>
				            </div>
				        </div>
				        <!-- footer category -->
			        	<div class="col-xs-2 footer-category">
				            <div class="">
		                        <a href="results-category.html">
		                            <div style="background-image:url('assets/images/products/category/category-bread.jpg')" class="image-loader-container">
		                                <img style="visibility: hidden" src="assets/images/products/category/category-bread.jpg">
		                            </div>
				                    <div class="text-ellipsis text-center footer-category-title">
										Panadería y Repostería
					                </div>
								</a>
				            </div>
				        </div>
				        <!-- footer category -->
			        	<div class="col-xs-2 footer-category">
				            <div class="">
		                        <a href="results-category.html">
		                            <div style="background-image:url('assets/images/products/category/category-milk.jpg')" class="image-loader-container">
		                                <img style="visibility: hidden" src="assets/images/products/category/category-milk.jpg">
		                            </div>
				                    <div class="text-ellipsis text-center footer-category-title">
										Lácteos, Huevos y Refrigerados 
					                </div>
								</a>
				            </div>
				        </div>
				        <!-- footer category -->
			        	<div class="col-xs-2 footer-category">
				            <div class="">
		                        <a href="results-category.html">
		                            <div style="background-image:url('assets/images/products/category/category-deli.jpg')" class="image-loader-container">
		                                <img style="visibility: hidden" src="assets/images/products/category/category-deli.jpg">
		                            </div>
				                    <div class="text-ellipsis text-center footer-category-title">
										Delicatessen
					                </div>
								</a>
				            </div>
				        </div>
				        <!-- footer category -->
			        	<div class="col-xs-2 footer-category">
				            <div class="">
		                        <a href="results-category.html">
		                            <div style="background-image:url('assets/images/products/category/category-bread.jpg')" class="image-loader-container">
		                                <img style="visibility: hidden" src="assets/images/products/category/category-bread.jpg">
		                            </div>
				                    <div class="text-ellipsis text-center footer-category-title">
										Panadería y Repostería
					                </div>
								</a>
				            </div>
				        </div>
			        	<!-- footer category -->
			        	<div class="col-xs-2 footer-category">
				            <div class="">
		                        <a href="results-category.html">
		                            <div style="background-image:url('assets/images/products/category/category-milk.jpg')" class="image-loader-container">
		                                <img style="visibility: hidden" src="assets/images/products/category/category-milk.jpg">
		                            </div>
				                    <div class="text-ellipsis text-center footer-category-title">
										Lácteos, Huevos y Refrigerados 
					                </div>
								</a>
				            </div>
				        </div>
				    </div>
			    </div>
		</section>

	</main>