<div *ngIf="error" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span> {{error}}
</div>

<div class="log-container">
  <a [routerLink]="['/']">
    <div class="logo">
    </div>
  </a>

  <div class="signIn">
    <h2 class="text-center">
      Bienvenido a Jiuvii!
    </h2>

    <form (submit)="loginWithEmail($event, email.value, password.value)">
      <input #email type="email" id="email" name="email" value="" placeholder="Email" class="input-lg">

      <button class="btn btn-block btn-wide btn-primary" type="submit">Resetar contraseña</button>
    </form>
    <div class="text-center margin">
      <h5>
        ¿Ya tenés cuenta?
        <a [routerLink]="['/login']">Iniciar sesion</a>
      </h5>
      <h5>
        ¿No tenes cuenta aun?
        <a [routerLink]="['/register']">Registrate Gratis</a>
      </h5>
    </div>
  </div>
</div>